<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina con EJS</title>
    <!-- no es la direccion de la carpeta sino como definiste el static pa usarlo -->
    <link rel="stylesheet" href="/public/index.css"> 
</head>
<body>