<!--codigo embebido similar a php  -->
<%- include('partials/header') %>


<h1>Dashboard</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, non!</p>

<%- include('partials/footer') %>